h1
{
	font-family: Lucida Console;
	font-size: 200px;
	color: Red;
	text-align: center;
}

*{
    list-style-type: none;
	margin: 0;
    padding: 0;
	text-decoration: none;
	box-sizing:border-box;
	font-family: "Trajan", "Garamond", serif;
    }

	body{
		background-color: #FFFAF0;
	}
	

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFAF0;
	box-shadow: 0px .5vh 1vh #3C3C3C;
	font-family: "Trajan", "Garamond", serif;
	overflow: hidden;
	border-bottom: 2px solid black;
	
}

li {
    float: left;
	overflow: hidden;
	

}

li a {
    display: block;
	font-family: "Trajan", serif;
	font-size: 3.5vh;
    color: white;
    text-align: center;
    padding: 1vh 4vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh
   
	overflow: hidden;
	font-weight: bold;
	text-shadow: 0px 0px 3px 	#000000;
	
	
}

li a:hover:not(.active) {
    color:black;
	text-shadow: 0px 0px 0px;
}

li .active {
    color: black;
	box-shadow: 0px 3px 5px #3C3C3C;
	text-shadow: 0px 0px 0px;
}

.maincontent{
	width: 100%;
	text-align: center;
	margin:0;
	margin-bottom: 20px;
	margin-top: 10vh;
}


p{
	margin-left: 15px;
	padding:5px;
}

