h1
{
    font-family: Lucida Console;
    font-size: 200px;

    text-align: center;

    color: Red;
}

*
{
    font-family: 'Trajan', 'Garamond', serif;

    margin: 0;
    padding: 0;

    list-style-type: none;

    text-decoration: none;
}

body
{
    background-color: #fffaf0;
}


ul
{
    font-family: 'Trajan', 'Garamond', serif;

    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    border-bottom: .5vh solid black;
    background-color: #fffaf0;
    box-shadow: 0 .5vh 1vh #3c3c3c;
}

li
{
    float: left;
    overflow: hidden;
}

li a
{
    font-family: 'Trajan', serif;
    font-size: 3vh;
    font-weight: bold;

    display: block;
    overflow: hidden;

    padding: 0 4vw;
    padding-top: 2vh;

    text-align: center;

    color: white;
    text-shadow: 0 0 1vh	#000;
}

li a:hover:not(.active)
{
    color: black;
    text-shadow: 0vh 0vh 0vh;
}

li .active
{
    color: black;
    text-shadow: 0 0 0;
}

.maincontent
{
    width: 100%;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 20px;

    text-align: center;
}


p
{
    margin-left: 15px;
    padding: 5px;
}
